.relationlist {
	padding-bottom: 10px;
}

.relationlist .form-control {
	margin-bottom: 10px;
}

.relationlist .searchResultWrapper {
	position: relative;
	z-index: 5;
}

.relationlist .searchResultList {
	position: absolute;
	top: -11px;
	left: 5px;
	background: #ffffff;
	padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    box-shadow: 0 2px 2px #cccccc;
}

.relationlist .searchResultList .entry {
    border-bottom: 1px solid #eee;
    padding: 2px 10px 2px 0;
}

.relationlist .searchResultList .entry a.title:before {
	content: '\f055';
	display: inline-block;
	font-family: FontAwesome;
	margin-right: 5px;
	color: #eeeeee;
}

.relationlist .searchResultList .entry:hover a.title:before {
	color: #076923;
}

.relationlist .searchResultList .entry .type {
	color: #cccccc;
    margin: 0 10px;
}

.relationlist .searchResultList .entry .date {
	visibility: hidden;
    font-size: 10px;
	color: #cccccc;
    text-transform: uppercase;
    display: inline-block;
    height: 16px;
    line-height: 16px;
}

.relationlist .searchResultList .entry:hover .date {
    visibility: visible;
}

.relationlist .searchResultList .entry:last-child {
	border: none;
}

.relationlist .selectedElementsList {
    border: 1px solid #cccccc;
    border-radius: 2px;
    background: #ffffff;
    padding: 8px 5px;
    max-height: 200px;
    overflow-x: scroll;
}

.relationlist .selectedElementsList .entry {
	position: relative;
	padding: 5px;
	border-bottom: 1px solid #eeeeee;
}

.relationlist .selectedElementsList .entry:last-child {
	border-bottom: none;
}

.relationlist .selectedElementsList .entry .title {
	color: #666666;
}

.relationlist .selectedElementsList .entry .type {
	color: #cccccc;
    margin: 0 10px;
}

.relationlist .selectedElementsList .entry .date {
	visibility: hidden;
    font-size: 10px;
	color: #cccccc;
    text-transform: uppercase;
    display: inline-block;
    height: 16px;
    line-height: 16px;
}

.relationlist .selectedElementsList .entry:hover .date {
	visibility: visible;
}


.relationlist .selectedElementsList .entry:hover .title {
	color: #005394;
}

.relationlist .selectedElementsList .entry a.remove {
	position: absolute;
	right: 8px;
	top: 8px;
	display: block;
	color: #cccccc;
}

.relationlist .selectedElementsList .entry a.remove:hover {
	color: #e67041;
	text-decoration: none;
}

.relationlist .selectedElementsList .entry a.remove:before {
	position: relative;
	left: -5px;
}
